body {
    font-family: 'Comic Sans MS', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

.box {
    display: inline;
    padding-right: 3%;
}

.box img {
    xfloat: left;

}

p.img {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

@media only screen and (max-width: 640px) {
    body {
      margin-left: 1%;
      margin-right: 1%;
      font-size:90%;
    }
    .box {
        display: block;
    }
}
@media only screen and (min-width: 640px) and (max-width: 740px) {
    body {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media only screen and (min-width: 740px) and (max-width: 840px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}
    
@media only screen and (min-width: 840px) and (max-width: 1000px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

